body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  width: 100vw;
}

.active {
  color: #ff8a04 ! important;
}
.recovered {
  color: #2f8d1a ! important;
}
.death {
  color: #ff0000 ! important;
}