body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ag-header-cell-label {
  justify-content: center;
}
.ag-theme-alpine {
  height: 80vh;
  width: 80vw;
  margin: auto;
}
.appBarToolBar {
  display: flex;
  justify-content: space-between;
  background-color: #9a67ea;
}
.textField {
  background-color: white;
  border-radius: 4px;
}
.flag {
  width: 50px !important;
  /* margin: 4px; */
}
.active {
  color: #ff8a04 ! important;
}
.recovered {
  color: #2f8d1a ! important;
}
.death {
  color: #ff0000 ! important;
}
